/* Normalize */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    overflow: hidden;
    padding: 30px;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    height: 30vh;
}

.titulo{
    font-family: 'Tajawal', sans-serif;
    font-weight: 400;
    font-size: 2.2rem;
}

main{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main p{
    font-family: 'Tajawal', sans-serif;
}

.mail{
    color: black;
    font-family: 'Tajawal', sans-serif;
    font-size: 1rem;
    text-decoration: none;
}

.mail:hover{
    color: rgb(0, 255, 100);
}

.telefono{
    font-size: 0.9rem;
}

.nombreChico{
    text-align: center;
}

section h1{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Tajawal', sans-serif;
    font-size: 1.2rem;
    color: rgb(0, 255, 100);
}

